{% load static %}
<footer style="background-color: #333;
      color: #fff;
      padding: 5px;
      text-align: left;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;">
<!--    <div class="footer navbar-fixed-bottom" style="background-color:'grey'">-->
<!--        <div class=" my_footer text-center" style="position:fixed; bottom:0; left:0; width:100;">-->
            <p>@copyright Abc university  Registered Charity No: 1133658. All rights reserved</p>
<!--        </div>-->
<!--    </div>-->
</footer>