{% load static %}
<header style="left: 0; right: 0; background-image:linear-gradient(rgba(0,0,250,0.4), rgba(0,0,250,1)); height: 100px; width: 100%;">
    <div>
        <div style="width:40%;display:inline-block;vertical-align:bottom;">
            <a><img style="padding-bottom: 17px;align:right;color:#fff;" src="{% static 'img/home.png' %}" id="Home" alt="Home"/></a>
        </div>
        <div style="align:left;width:50%;text-align:left;display:inline-block;font-size:28pt; padding-bottom:20px; color: white; font-weight:bold;">
            <img style="vertical-align:bottom;padding-bottom: 20px; align:left;" src="{% static 'img/logo.png' %}" id="Logo" alt="College"/>&nbsp;<span style="vertical-align:bottom;">College Store</span>
        </div>
    </div>
</header>