{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div style="text-align:center;">
<!--  <br><br>-->

<!--		&nbsp;<h2>Home</h2>-->
<!--		<br>-->

		<br><br><br/>
      <div class="container-fluid">
		  {% if user.is_authenticated %}
		  	<a href="{% url 'order' %}"><button class="button">Order Form</button></a>
		  	<a href="{% url 'user_requests' %}"><button class="button">Requests</button></a>
		  {% else %}
		  	<a href="{% url 'login' %}"><button class="button">Log in</button></a>
		  {% endif %}
	  </div>
</div>
{% endblock %}