{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div style="text-align:center; margin-top:100px;">
<!--  <br><br>-->
<!--		<div style="width:100%;">-->
<!--			<div style="align:right;width:40%;text-align:right;display:inline-block;vertical-align:bottom;"><img src="{% static 'img/college.png' %}" id="Home" alt="College"/></div>-->
<!--			<div style="align:left;width:50%;text-align:left;display:inline-block;font-size:28pt;vertical-align:top;">College Store</div>-->
<!--		</div>-->
<!--    &nbsp;<h2>Login</h2>-->
<!--		<br>-->

    <!-- Login Form -->
    <div class="card">
    <form name="loginForm" method="POST">
      {% csrf_token %}
      <table style="text-align:left;border:none;width:80%;margin:0 auto;">
        <tr style="height:60px;">
          <td style="width:25%;">Username</td>
          <td><input type="text" id="login" name="username" placeholder="username" required></td>
        </tr>
        <tr style="height:60px;">
          <td>Password</td>
          <td><input type="password" id="password" name="password" placeholder="password" required></td>
        </tr>
        <tr style="height:60px;">
          <td colspan="2">
            <input type="submit" style="color: #fff;background-color: #5cb85c;border-color: #4cae4c;cursor: pointer;" value="Log In">
          </td>          
        </tr>
        <tr style="height:60px;">
          <td colspan="2">
              Don't have an account?  <a href="{% url 'register' %}">Register Here</a>
          </td>          
        </tr>
        <tr style="height:60px;">
          <td colspan="2" style="text-align: left;">
              {% for m in messages %}
              <h3>{{ m }}</h3>
              {% endfor %}
          </td>          
        </tr>
      </table>
    </form>
    </div>
</div>
{% endblock %}